<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.wkkt.mapper.FeedbackMapper">

    <insert id="insertFeedback" parameterType="com.tt.wkkt.vo.req.FeedbackReqVo">
            INSERT INTO feedback ( user_name, t_propose, way, atmosphere,time,teacher_user,course_propose,status )
    VALUES
        (#{userName},#{tPropose},#{way},#{atmosphere},now(),#{teacherUser},#{coursePropose},1)
        </insert>

    <select id="selectFeedbackTeacher" resultType="com.tt.wkkt.vo.resp.GetFeedbackRespVO">
                SELECT
            id,
            user_name,
            t_propose,
            course_propose,
            way,
            atmosphere,

            time
        FROM
            feedback
            where status=1
            and
            teacher_user=#{String teacherUser}
        ORDER BY
            time DESC
    </select>

    <!--添加提问-->
    <insert id="addAskQues" parameterType="com.tt.wkkt.model.AskQuestion">
            INSERT INTO ask_question ( user_name, teacher_name, ask_question,time,reply )
        VALUES
            ( #{userName}, #{teacherName}, #{askQuestion},#{time},0 )
    </insert>

    <select id="getAskQuestionByTeacherName" parameterType="string" resultType="com.tt.wkkt.model.AskQuestion">
        SELECT
            id,
            user_name,
            time,
            ask_question,
            reply
        FROM
            ask_question
        WHERE
            teacher_name = #{teacher}
        order by reply ,time desc
    </select>

    <update id="updateReply1" parameterType="int" >
        UPDATE ask_question
        set reply=1
        WHERE
            id = #{id}
    </update>

    <update id="updateReply0" parameterType="int" >
        UPDATE ask_question
        set reply=0
        WHERE
            id = #{id}
    </update>

    <select id="queryReplyById" parameterType="int" resultType="int">
        SELECT
            reply
        FROM
            ask_question
        WHERE
            id =#{id}
    </select>
    
    
    <select id="queryCourseIdAndNameByUsername" parameterType="string" resultType="com.tt.wkkt.model.StudentGrade">
        SELECT
            id course_id,
            course_name
        FROM
            course
        WHERE
            teacher_id = ( SELECT id FROM teacher WHERE user_name = #{teacherUser} )
    </select>

    <insert id="insertCompetitiveGrade" parameterType="com.tt.wkkt.model.StudentGrade" >
        INSERT INTO student_grade ( student_user, competitive_grade, course_id, course_name, teacher_user )
        VALUES
            ( #{studentUser}, #{competitiveGrade},#{courseId},#{courseName},#{teacherUser} )
    </insert>
    
    <select id="queryAllStudentuserByCourseId" resultType="string" parameterType="int">
        SELECT
            student_user
        FROM
            student_grade
        WHERE course_id=#{courseId}
    </select>


    <update id="updateCompetitveGrade" >
        UPDATE student_grade
        SET competitive_grade = #{competitiveGrade}
        WHERE
            student_user = #{studentUser}
    </update>
</mapper>