<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.wkkt.mapper.ShowAnswerPeopleMapper">
<insert id="insertPeople" parameterType="string">
    insert INTO show_answer_people(user_name,time) VALUES(#{userName},CURTIME())
</insert>

    <delete id="reCompetive"  >
        delete from show_answer_people
    </delete>

    <select id="selectSuccessPeople" resultType="com.tt.wkkt.vo.resp.AnswerPeopleResp">
        SELECT
            student.user_name,
            student.student_name
        FROM
            show_answer_people,
            student
        WHERE
            student.user_name = show_answer_people.user_name
        ORDER BY
            time
            LIMIT 1
    </select>

</mapper>