<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.wkkt.mapper.StudentPaperMapper">
    <select id="queryAllPaperByTeachername" parameterType="string" resultType="com.tt.wkkt.model.IssuePaper">
        SELECT
            id,
            paper_id,
            test_name,
            test_time,
            degree,
            teacher_name,
            score,
            issue_time
        FROM
            issue_paper
        WHERE
            teacher_name = #{teacherName}
            order by issue_time desc
    </select>

    <select id="queryExistSubmit" resultType="int" >
    SELECT count(*) from review_paper where paper_id=#{paperId} and student_user=#{studentUser}
    </select>

    <select id="queryIdByStudentUserAndPaperId" resultType="int" parameterType="com.tt.wkkt.vo.req.RemarkPaperReqVO">
        SELECT id from review_paper where paper_name=#{paperName} and student_user=#{studentUser}
    </select>

    <select id="queryReviewQuestionByReviewId" resultType="com.tt.wkkt.model.ShowReviewQuestion" parameterType="int">
        SELECT
            review_id,
            question_id,
            upload_answer
        FROM
            show_review_question
        WHERE
            review_id = #{reviewId}
        order by question_id
    </select>
</mapper>